<%- include('../partials/header.ejs')%>
  
    <div class = "content">
        <h4><%= event.title%></h4>
        <small>Posted <%= event.createdAt%> by <%= event.author%></small>
        <div id = 'story'><%= event.content%></div>
        <form>
            <button type="submit" formmethod="GET" formaction="/events/<%= event.id%>/edit">Edit</button>
            <button type="submit" formmethod="POST" formaction="/events/<%= event.id%>?_method=DELETE">Delete</button>
        </form>
    </div>
    <%- include('../partials/footer.ejs')%>