
<%- include('../partials/header.ejs')%>
    <h2>Welcome, <%=user.firstName%></h2>
    <br>
    <%if(events.length) {%>
        <p>You have created the following events</p>
        <%events.forEach(event => {%>
            <a href="/events/<%=event.id%>"><p><%=event.title%></p></a>
        <%});
    } else {%>
        <p>You have not created any events.</p>
    <%}%>

    <%if(rsvps.length) {%>
        <p>You have rsvp-ed the following events</p>
        <%rsvps.forEach(rsvp => {%>
            <a href="/events/<%=rsvp.event._id%>"><p><%=rsvp.event.title%></p></a>
            <p>your response: <%= rsvp.rsvp %></p>
        <%});
    } else {%>
        <p>You have not rsvp-ed any events.</p>
    <%}%>
    </div>
    <%- include('../partials/footer.ejs')%>
