<%- include('../partials/header.ejs')%>
<div class = "content">
    
    <form method = "POST" action = "/events/<%= event._id%>?_method=PUT" class="new-form" enctype="multipart/form-data">
        <label for='title'> Title </label>
        <input type="text" id="title" name="title" value='<%= event.title%>'>
        
        
        <label for='location'> Location </label>
        <input type="text" id="location" name="location" value='<%= event.location%>'>
        <% console.log(event.category)%>
        <label for="category">Event</label>
        <select name="category" class="category" size="1" id="category">
            <option value="Hiking" <% if(event.category === 'Hiking') { %> selected <% } %> >Hiking</option>
            <option value="Camping" <% if(event.category === 'Camping') { %> selected <% } %> >Camping</option>
            <option value="Mountain Biking" <% if(event.category === 'Mountain Biking') { %> selected <% } %> >Mountain Biking</option>
            <option value="Backpacking"<% if(event.category === 'Backpacking') { %> selected <% } %> >Backpacking</option>
            <option value="Other"<% if(event.category === 'Other') { %> selected <% } %> >Other</option>
        </select>
        <label for="datestart">Start Date</label>
        <input type="datetime-local" id="date" value='<%= startdate%>' name="startdate">

        <label for="dateend">End Date</label>
        <input type="datetime-local" id="date" value='<%= enddate%>' name="enddate">

        <label for="content">Description</label>
        <textarea rows="5" id="content" name="content" class = "fixed-width"><%= event.content%></textarea>

        <label for="picture">Image</label>
        <input type="file" id="myFile" name="image">
        
        <input type="submit" value="Submit">   
      
    </form>

    </div>
    <%- include('../partials/footer.ejs')%>
